* {
  font-family: 'Inter', sans-serif;
  color: #505a63;
  font-size: 16px;
  font-weight: 500;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 42px;
  color: #1a1c1f;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
}

p {
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
}

header {
  margin-bottom: 64px;
}

.container {
  background-color: #f7f7f7;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  min-width: 500px;
  flex-direction: column;
}

@media (max-width: 600px) {
  .container {
    min-width: 80%;
  }
}

label {
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding-left: 12px;
  height: 40px;
  margin-bottom: 16px;
  border: 1px solid #c4c6c8;
  background-color: #fff;
  border-radius: 8px;
  color: #646e7a;
  box-sizing: border-box;
}

button {
  margin-top: 16px;
  border-radius: 64px;
  cursor: pointer;
  width: 100%;
  background-color: #1a1c1f;
  padding: 12px 12px;
  border: 0;
  color: #fff;
  transition: background-color 0.2s, transform 0.1s ease-in-out;
}

button:hover {
  background-color: #3c3e40;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

hr {
  line-height: 22px;
  box-sizing: border-box;
  height: 1px;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  background: #eaeaea;
  border: 0;
}
