---
import Hero from '../components/Hero.astro';
import Form from '../components/Form.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Hero />
  <main class="container mx-auto max-w-[600px] p-4">
    <Form />
  </main>
</Layout>
