<header class="flex flex-col justify-center gap-2 text-center">
  <h1 class="text-5xl font-black text-gray-900">YouTube to Spotify</h1>
  <p class="text-lg text-gray-700">
    Convert YouTube videos into Spotify compatible local files.
  </p>
</header>
