<header class="flex flex-col justify-center gap-2 pt-16 pb-10 text-center">
  <h1 class="text-5xl font-black">Kobalt</h1>
  <p class="text-lg text-gray-700">
    Convert YouTube videos into Spotify compatible local files.
  </p>
</header>
